.img-thum {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.media-body{
    overflow: hidden;
    max-height: 205px;
}
.error {
    color: #F00 !important;
    font-size: 14px !important;
}