.img-thum {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.media-body{
    overflow: hidden;
    max-height: 205px;
}
.error {
    color: #F00 !important;
    font-size: 14px !important;
}
.credit-card-master{
    background: url('../images/Master_card.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.credit-card-visa{
    background: url('../images/Visa_card.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
   /* background-size: cover; */
}
.card-code{
    margin-top: 100px;
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace !important;
    padding-left: 50px;
    font-size: 25px;
}
.card-date{
    float: right;
    margin-right: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
}
.border-green{
    border: 3px solid #8DBF43;
}
.border-white{
    border: 5px solid white;
}
.delivery-eta{
    color:#8DBF43 !important;
    margin-left: 20px;
    text-transform:capitalize;
}
.delivery-txt{
    color: #808080 !important;
    text-transform:capitalize;

}
.radio-disabled {
    background-color: #FFFFFF;
}
.icon{
    list-style: none;
    float: left;
    margin: 5px 0 0 5px;
    padding: 0;
    font-size: 14px;
}
.icon li{
    float: left;
    padding: 5px;
    padding-left: 0 !important;
    padding-right:5px !important;
}
.icon li img{
    float: left;
    margin-right: 5px;
    height: 15px;

}

.select-l {
    width: 140px;
    height: 35px;
    padding: 4px;
    border-radius:4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    color: #808080;
}
.label-l {
    position: relative;
    color: #808080;
}
.label-l:after {
    content:'<>';
    font: 11px "Consolas", monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top:2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}
.label-l:before {
    content: '';
    right: 6px;
    top:0px;
    width: 20px;
    height: 20px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
}


.post{
    width: 97%;
    min-height: 200px;
    padding: 5px;
    border: 1px solid gray;
    margin-bottom: 15px;
}

.post h1{
    letter-spacing: 1px;
    font-weight: normal;
    font-family: sans-serif;
}


.post p{
    letter-spacing: 1px;
    text-overflow: ellipsis;
    line-height: 25px;
}

/* Load more */
.load-more{
    width: 99%;
    background: #ffffff;
    text-align: center;
    color:  #8DBF43;
    padding: 10px 0px;
}

.load-more:hover{
    cursor: pointer;
}

/* more link */
.more{
    color: #8DBF43;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
}
.list-i{
    font-size: 13px !important;
    text-transform: capitalize;
}
.btn-a{
    padding: 2px 20px !important;
    color: white !important;
    float: right !important;
}
.title1{
    font-size: 2.2rem !important;
}
.title2{
    font-size: 1.3rem !important;
}
.title3{
    font-size: 1.4rem !important;
}
.header-wrapper{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}
.content-wrapper{
    margin-top: 60px !important;
}
.shopping-cart {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}
.food-icon-container{
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
    left: 0;
    z-index: 99;
}
.food-icon{

    margin-right: auto;
    margin-left: auto;
    list-style: none;
    max-width: 500px;

}
.food-icon img{
    height: 18px;
    margin-right: 5px;
}
.food-icon li{
    display: inline-block;
    margin-right: 15px;
}
.items-favourite{
    border: 1px solid #8DBF43 !important;
    margin: 5px !important;
    padding-bottom: 5px !important;
}
.link-favourite-u {
    font-family: 'Futura-Medium-BT';
    padding-left: 18px;
    background: url("../images/icon-heart.png") no-repeat left center;
    color: #808080;
    font-size: 18px !important;
}
.link-favourite-u:hover,.link-favourite-u.active {
    background-image: url("../images/icon-heart-active.png");
    color: #8DBF43;
}
.favourite-title{
    padding: 1px;
    margin: 10px 5px 5px 5px !important;
}
.txt-favourite {
    border-radius: 35px;
    margin-left: 10px;
    width: 200px;
    border: 1px solid lightgrey;
    padding-left: 15px;
    padding-right: 15px;
}
